.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section {
    padding: 3rem;
    text-align: center;

}
section:first-of-type 
/* section:first-child */
{
    background-color: crimson;
}
section:last-of-type {
    background-color: steelblue;
}
/* section:nth-child(2)  */
section:nth-of-type(2)
{
    background-color: tomato;
}

section:nth-of-type(3)
{
    background-color: lightgreen;
}

section:nth-last-of-type(2) {
    background-color: khaki;
}
section:nth-last-of-type(3) {
    background-color: lightseagreen;
}

section:only-child{
    background-color: darkslategray;
    color: white;
}

p:first-of-type {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
p:nth-of-type(2) {
    display: none;
}
section:nth-of-type(odd) {
    border: 10px solid purple;
}

section:nth-of-type(2n+3) {
    color: coral;
}